* {
    padding: 0px;
    margin: 0px;
}

.section1 {
    position: sticky;
    top: 0px;
    background-color: #1b2838;
    z-index: 11;

}


ul {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

li {
    color: white;

}

.a1 {
    font-size: 21px;
}

.a2 {
    font-size: 15px;
}

.a3 {
    /* width: 260px; */
    /* height: 25px; */
    background-color: white;
    border-radius: 7px;
    padding: 3px 3px;

}

.searchbar {
    border: none;
    outline: none;
    width: 240px;

}

#button {
    border: none;

}

.a4 {
    /* border: 2px solid white; */
    padding: 2px 2px;
}

/* a {
    text-decoration: none;
    color: white;
}


.section2 {
    display: none;
}

.dropdown {
    display: none;
    border: none;
    color: white;
    position: absolute;
}

.a4:hover .dropdown {
    display: block;
} */


#login-sec1 {
    background-image: url(watchss.webp);
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.329);
    display: flex;
    padding-top: 5%;
    /* gap: 5%; */


}

.section3>.abc {
    /* border: 2px solid red; */
    width: fit-content;
    height: fit-content;
    margin-left: 2%;




}

.sakthi {
    display: flex;
    /* border: 2px solid white; */
}

figure {
    /* border: 2px solid blue; */
    margin: 25px;
    color: white;
}

figcaption {
    padding: 5px;
}

img {
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

#buynow {
    height: fit-content;
    width: fit-content;
    /* border: 2px solid yellow; */
    margin-top: 10%;
    /* margin-left: 0px; */
    display: flex;
    flex-direction: column;

    padding: 15px;

}

#click {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: bisque;

}





/* 
.section4 {
    width: 100%;
    height: fit-content;
    margin: auto;
    display: flex;
    background-color: #1b2838;
    justify-content: space-evenly;


}

h4 {
    color: bisque;
    text-align: center;
}

p {
    padding: 10px;
    text-align: center;
    color: white;
}
.a4>button{
    padding: 3px;
    border-radius: 5px;
    border: none;
} */

/* jechsbcjhrbhjrbdjhrfbhdb */

@media screen and (max-width:768px) {
    * {
        padding: 0px;
        margin: 0px;
    }

    .a1 {
        font-size: 13px;
    }

    .a2 {
        font-size: 9px;
    }

    .a3 {
        background-color: white;
        border-radius: 7px;
        padding: 3px 3px;
    }

    .searchbar {
        border: none;
        outline: none;
        width: 150px;

    }

    .a4 {
        /* border: 2px solid red; */
        padding: 1px 1px;
    }

    img {
        /* border-radius: 10px; */
        height: 180px;
        width: 180px;
    }

    figcaption {
        padding: 3px;
        font-size: 14px;
    }

    figure {
        /* border: 2px solid blue; */
        margin: 10px;
        color: white;
    }
    
    #footer1,
    #footer2,
    #footer3,
    #footer4 {

        margin: 3%;
    }

    h4 {
        color: bisque;
        text-align: center;
        font-size: 11px;
    }

    p {
        padding: 7px;
        font-size: 12px;
    } 

   
}

@media screen and (max-width:710px) {

    .section1>ul>.a4
     {
        display: none;
    }

    img {
        /* border-radius: 10px; */
        height: 175px;
        width: 175px;
        margin: 1px;
    }

    #click {
        margin: 3px;

        padding: 2px;


    }
}

@media screen and (max-width:578px) {

    /* section1 */
    #aa2,
    .a4 {
        display: none;

    }

    .section1 {
        position: sticky;
        top: 0;
        background-color: #1b2838;
    }

    ul {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
    }

    .a3 {
        background-color: white;
        border-radius: 7px;
        padding: 1px 1px;
        width: 100px;
    }

    .searchbar {
        border: none;
        outline: none;
        width: 80px;

    }

    button>.fa-solidfa-magnifying-glass {
        /* border: none; */
        width: 30px;
    }

    .a1 {
        font-size: 12px;
    }

    .a2 {
        font-size: 9px;
    }


    /* section3 */
    .datas {
        display: none;
    }

    .section3 {
        background-image: url(watchss.webp);
        width: 100%;
        height: fit-content;
        background-size: cover;
        background-blend-mode: color;
        background-color: rgba(0, 0, 0, 0.404);
        padding-top: 5%;
        justify-content: center;
        align-items: center;
    }

    .section3>.abc {
        /* border: 2px solid red; */
        width: fit-content;
        height: fit-content;
        margin-left: 0px;

    }

    .sakthi {
        display: flex;
        flex-direction: column;
        /* border: 2px solid white; */
    }

    figure {
        /* border: 2px solid blue; */
        margin: 10px;
        color: white;
    }

    figcaption {
        padding: 3.5px;
        font-size: 12px;
    }

    img {
        border-radius: 10px;
        height: 175px;
        width: 175px;
        margin-left: 4%;
    }

    #buynow {
        height: fit-content;
        width: fit-content;
        /* border: 2px solid yellow; */
        margin-top: 0%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        padding: 0px;
    }

    #click {
        margin: 1vh;
        border-radius: 5px;
        padding: 2px;
        border: none;
        font-size: 2vh;
        background-color: bisque;

    }







    .section4 {
        width: 100%;
        height: fit-content;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        background-color: #1b2838;
        justify-content: space-evenly;


    }

    #footer1,
    #footer2,
    #footer3,
    #footer4 {

        margin: 3%;
    }

    h4 {
        color: bisque;
        text-align: center;
        font-size: 12px;
    }

    p {
        padding: 7px;
        font-size: 10px;
    } }
    
    @media screen and (max-width:520px) {
        .a1 {
            font-size: 11px;
        }

        .a2 {
            font-size: 8px;
        }}



@media screen and (max-width:430px) {

    .a1 {
            font-size: 10px;
        }

        .a2 {
            font-size: 7.5px;}
    span {
        display: none;
    }}

   


